# Lists 

Lists can thought of the most general version of sequence in Python. Unlike strings lists are mutuable i.e. you can change the values present in the list

In [1]:
myList = [1,2,3]

In [2]:
myList

[1, 2, 3]

In [3]:
type(myList)

list

In [4]:
# in earlier example we created list which is just storing integer value. But list can store value of different datatypes 

newList = ["maseta", 1, 2.0, True]

In [5]:
newList

['maseta', 1, 2.0, True]

In [6]:
#int [] arr = new int[size] This is how we create array in java

len(newList)

4

# Indexing and slicing

In [16]:

myList = ["one", "two", 3, 4, 5]

In [10]:
myList[1]

'two'

In [17]:
myList[1:len(myList)]

['two', 3, 4, 5]

In [18]:
myList[1:4]

['two', 3, 4]

In [19]:
myList + [6, 7,8, 10]

['one', 'two', 3, 4, 5, 6, 7, 8, 10]

In [20]:
myList

['one', 'two', 3, 4, 5]

In [21]:
myList = myList + [4, 5,6 ,7 ]

In [22]:
myList

['one', 'two', 3, 4, 5, 4, 5, 6, 7]

In [23]:
myList * 2

['one', 'two', 3, 4, 5, 4, 5, 6, 7, 'one', 'two', 3, 4, 5, 4, 5, 6, 7]

# Basic List Methods

In [45]:
list1 = [1,2,3]

In [46]:
# Append -> It actually adds new data objects in the end of the list 
list1.append(2)

In [47]:
list1

[1, 2, 3, 2]

In [31]:
# pop method -> It removes the last value from the list 
list1.pop()

IndexError: pop from empty list

In [40]:
list1

[1, 2, 3, 4, 2]

In [42]:
list1.pop() # Pop returns the value which it is removing from the list

4

In [43]:
list1.pop(2)

3

In [48]:
list1

[1, 2, 3, 2]

In [49]:
list1.pop(2)

3

In [50]:
list1

[1, 2, 2]

In [51]:
deletedValue = list1.pop()

In [52]:
deletedValue

2

In [53]:
list1[200]

IndexError: list index out of range

In [54]:
newReverse = ['a', 'e', 'i','o','u']
newReverse.reverse()

In [56]:
newReverse

['u', 'o', 'i', 'e', 'a']

In [57]:
newList =  [2, 4, 5,1, 13, 9]

In [58]:
newList.sort()

In [59]:
newList

[1, 2, 4, 5, 9, 13]

In [60]:
newStr = "somendra"

In [61]:
sorted(newStr)

['a', 'd', 'e', 'm', 'n', 'o', 'r', 's']

# Nesting Lists

In [62]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
myFinalList  = [l1, l2, l3]

In [64]:
print(myFinalList)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [65]:
l1[1]

2

In [67]:
myFinalList[1][0]

4

In [ ]:
myFinalList[]