objects = ["some", "Masita", "Nidhi"] 
                               
for item in objects:
    statements to perform

In [2]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in list1:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [8]:
for number in list1:
    if number%2 == 0:
        print(number)
    else:
        print("This is odd number")

This is odd number
2
This is odd number
4
This is odd number
6
This is odd number
8
This is odd number
10

In [9]:
calcSum = 0

for num in list1:
    calcSum += num
    
print(calcSum)

55

In [10]:
newStr = "Maseta's Question"

for letter in newStr:
    print(letter)

M
a
s
e
t
a
'
s

Q
u
e
s
t
i
o
n

In [2]:
list2 = [(2, 10), (3, 4), (5, 6)]

for tup in list2:
    print(tup)

(2, 10)
(3, 4)
(5, 6)

In [3]:
for (t1, t2) in list2: # Tupple unpacking 
    print(t1)

2
3
5

In [4]:
d = {"India" : "New Delhi", "USA" : "Washington Dc", "Germany" : "Berlin", "France" : "Paris"}

In [6]:
for items in d:
    print(items)

India
USA
Germany
France

In [8]:
d.keys() # i am getting list of keys which may be in any datatype

dict_keys(['India', 'USA', 'Germany', 'France'])

In [9]:
d.values() # i am getting list of values which may be in any datatype

dict_values(['New Delhi', 'Washington Dc', 'Berlin', 'Paris'])

In [10]:
d.items() # i am getting list of tuples. In a particular tuple key and value pairs of dictionary is present.

dict_items([('India', 'New Delhi'), ('USA', 'Washington Dc'), ('Germany', 'Berlin'), ('France', 'Paris')])

In [13]:
for key, value in d.items():
    print(key)
    print(value)

India
New Delhi
USA
Washington Dc
Germany
Berlin
France
Paris

In [14]:
for item in d.items():
    print(item)

('India', 'New Delhi')
('USA', 'Washington Dc')
('Germany', 'Berlin')
('France', 'Paris')

In [15]:
for key, value in d.items():
    print(key)

India
USA
Germany
France